.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}
.fieldSet {
  border: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: auto auto auto auto;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.label {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--secondary-font-color);
}

.input {
  padding: 0.625rem;
  font-size: 0.875rem;
  transition: all 0.2s;
  width: 100%;
  border: none;
  background: var(--bg-secondary-modal);
  border: 1px solid var(--bg-secondary-modal);

  border-radius: 0.375rem;
}

.input:focus {
  outline: none;
  border: 1px solid #2563eb;
}

.error {
  color: var(--error);
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.button {
  flex: 1;
  padding: 0.625rem 1.25rem;
  border-radius: 0.375rem;
  font-weight: 500;
  font-size: 0.875rem;
  transition: all 0.2s;
  cursor: pointer;
  border: none;
}

.submitButton {
  background-color: #193777;
  color: white;
}

.submitButton:hover {
  background-color: #224fca;
}

.submitButton:disabled {
  background-color: #93c5fd;
  cursor: not-allowed;
}

.cancelButton {
  background-color: var(--bg-edit-button);
  color: var(--font-color);
}
